{% extends 'info-files/base.html' %}
{% load static %}
{% load bootstrap3 %}

<!--Styles-->
{% block styles %}
{%bootstrap_css%}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 

{% endblock %}



{% block content %}
{{ block.super }}

<body>
    <main>

   
    <header>
        <div class="intro-text">
            <h1>PROJECTS</h1>
            <p>Below are my projects 😁</p><br><br>
            <img id="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png">

        </div>
    </header>
   <section>
    <div class="page-2"></div>
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/gallery.png" alt="django">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>My Gallery</h2>
                        <span> This application will give a user the chance to view different 
                            images.Which have different categories.They will also have a chance
                             to comment on the various photos they see.
                             Technologies used - <strong>Html, Css, JavaScript</strong> </span>
                        <div class="sm">
                         
                            <a href="https://imagesandgallery.herokuapp.com/ "><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/My-Gallery"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
            <div class="col-md-6">
              
                <div class="card middle">
                    <div class="front">
                        <img src="/static/img/github.png" alt="django">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h2>Github API</h2>
                            <span> This applicaion you can be able to search for any user on github
                                 Technologies used -<strong>Angular,Typescript</strong> </span>
                            <div class="sm">
                             
                                <a href="https://chegedaniella.github.io/Github-/ "><i class="far fa-2x fa-eye"></i></a>
                                <a href="https://github.com/ChegeDaniella/Github-"><i class="fab fa-2x fa-github"></i></a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
    </div>

   
    <div class="row">
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/angular.png" alt="django">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Quotes</h2>
                        <span> This is a web-based application that is supposed 
                            to input quotes together with the author's name and 
                            is supposed to tell the user how long ago the quote 
                            has been updated. An option for liking or disliking a 
                            quote is also presented.
                             Technologies used <strong>Angular,Typescript</strong> </span>
                        <div class="sm">
                         
                            <a href="https://chegedaniella.github.io/Quotes/ "><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/Quotes"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/django.png" alt="django">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Awards</h2>
                        <span> This web application can be used to view people's 
                            websites. They can also rate it. For this web application,
                             a user has to be logged in for them to be able to create 
                             and rate a post.If a person is looking for motivation or 
                             a design to use.Technologies used - <strong> Python,Django</strong> </span>
                        <div class="sm">
                         
                            <a href="https://awardscopy.herokuapp.com/"><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/awards"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!--row 3--->
 
    <div class="row">
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/akan.png" alt="akan">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Akan Naming</h2>
                        <span> This web application can be used to get the name 
                            of a person according to the date and day they were
                             born. The Akan naming system originated from Ghana. 
                             It makes it easier  for a user instead of calculating 
                             the application does it for them
                             Technologies used <strong>Html,Css,Javascript</strong> </span>
                        <div class="sm">
                         
                            <a href="https://chegedaniella.github.io/Akan-Naming/ "><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/Akan-Naming"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/delani.png" alt="delani">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Delani Studios</h2>
                        <span> This website is meant to give information
                             concerning the company. The website gives more
                              information and how they can be contacted. Technologies
                               used - <strong> Python,Django</strong> </span>
                        <div class="sm">
                         
                            <a href="https://chegedaniella.github.io/Delani-Studio-IP/."><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/Delani-Studio-IP"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!--row 4-->
  
    <div class="row">
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/js.png" alt="pizza">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Pizaa Odering</h2>
                        <span> This application is to be used for ordering pizza.
                             A user can be able to choose what they want their pizza
                              to be made of, and then the total will be given to them.
                               The delivery fee will also be added. If the user does not 
                               want a delivery they also have that option.
                               Technologies used<strong>Html,Css,Javascript</strong> </span>
                        <div class="sm">
                         
                            <a href="https://chegedaniella.github.io/Pizza/ "><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/Pizza-IP4"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="card middle">
                <div class="front">
                    <img src="/static/img/insta.png" alt="insta">
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Instagram clone</h2>
                        <span> This application is a clone of the social media app Instagram. 
                            A user can be able to like a photo. They can also see it's detailed 
                            and also the user who created it.Technologies
                               used - <strong> Python,Django</strong> </span>
                        <div class="sm">
                         
                            <a href="https://instaclonedani.herokuapp.com/"><i class="far fa-2x fa-eye"></i></a>
                            <a href="https://github.com/ChegeDaniella/Instagram"><i class="fab fa-2x fa-github"></i></a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
</section>
</main>
<!--script-->

{%endblock%}
{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{%static 'js/projects.js'%}"></script>
<script src="https://kit.fontawesome.com/b6a799f222.js" crossorigin="anonymous"></script>
{% bootstrap_javascript %}
</body>
{% endblock %}